.container.hero{
    background-image: url(../img/background.png);
    background-size: cover;
    display:inline-block;
    background-repeat: no-repeat;
    background-position:center;

}
.container.hero > .row{
    width:900px;
    margin-left:calc(50% - 450px);
    height:100%;

}
.container{
    width: 100%;
    display:inline-block;
    padding-top:20px;
}
.container.hero > .header,
.container.hero > .header, .hero1{
    /* width:800px;
    margin-left:calc(50% - 400px); */
   
}
.container.hero > .row > .header{
    width:100%;
    display:inline-block;
}
    .container.hero > .logo{
        display: inline-block;
        height:15px;
        float:left;
    }
    nav{
        display:inline-block;
        float:right;
        
    }
        nav a{
            font-size:14px;
            color:#000;
            text-decoration: none;
            text-transform: uppercase;
            font-weight:bold;
        }
    .block{
        width: 40%;
        display:inline-block;
        float:right;
        padding-top:200px;
    }
        .block > h1{
            font-size:24px;
            text-transform: uppercase;
            padding-bottom:40px;
        }
        .block p{
            font-size:14px;
            padding-bottom:40px;
        }
        .btn{
            display:inline-block;
            border:1px solid #000;
            padding:5px 15px;
            text-transform: lowercase;
            font-size:14px;
            color:#000;
            margin-bottom:100px;
        }
    .container.broccoli > .collumn{
        width:700px;
        margin-left:calc(50% - 350px);
        text-align:center;
        display:inline-block;
    }
        .collumn > .broccoli-logo{
            padding-top:50px;
            padding-bottom:25px;
            display:inline-block;
        }
        .collumn >  h2{
            text-transform: capitalize;
            font-size:30px;
            color:#000;
            padding-bottom:30px;

        }
        .collumn > p {
            font-size:16px;
            color:#000;
            padding-bottom:70px;
        }
        .container.services{
            background-color:#efefef;
        }
    .container.services > .service-row{
        width:700px;
        margin-left: calc(50% - 350px);
        display:inline-block;
        padding-top:40px;
        padding-bottom:60px;
        
    }
        .service-row > .service-coll{
            width:33.3%;
            display:inline-block;
            /* background-color:red; */
            float:left;
            text-align:center;
        }
        .service-coll > img{
            display:inline-block;
            padding-bottom:20px;
        }
        .service-coll > .header-text{
            padding-bottom:30px;
            text-transform: capitalize;
            font-weight:bold;
            font-size:16px;
            color:#000;
        }
        .service-coll > .big-text{
            color:#000;
            font-size:16px;
        }
