.container.hero{
    background-image: url(../img/background.png);
    background-size: cover;
    display:inline-block;
    background-repeat: no-repeat;
    background-position:center;

}
.container.hero > .row{
    width:900px;
    margin-left:calc(50% - 450px);
    height:100%;

}
.container{
    width: 100%;
    display:inline-block;
    padding-top:20px;
}
.container.hero > .header,
.container.hero > .header, .hero1{
    /* width:800px;
    margin-left:calc(50% - 400px); */
   
}
.container.hero > .row > .header{
    width:100%;
    display:inline-block;
}
    .container.hero > .logo{
        display: inline-block;
        height:15px;
        float:left;
    }
    nav{
        display:inline-block;
        float:right;
        
    }
        nav a{
            font-size:14px;
            color:#000;
            text-decoration: none;
            text-transform: uppercase;
            font-weight:bold;
        }
    .block{
        width: 40%;
        display:inline-block;
        float:right;
        padding-top:200px;
    }
        .block > h1{
            font-size:24px;
            text-transform: uppercase;
            padding-bottom:40px;
        }
        .block p{
            font-size:14px;
            padding-bottom:40px;
        }
        .btn{
            display:inline-block;
            border:1px solid #000;
            padding:5px 15px;
            text-transform: lowercase;
            font-size:14px;
            color:#000;
            margin-bottom:100px;
        }
    .container.broccoli > .collumn{
        width:700px;
        margin-left:calc(50% - 350px);
        text-align:center;
        display:inline-block;
    }
        .collumn > .broccoli-logo{
            padding-top:50px;
            padding-bottom:25px;
            display:inline-block;
        }
        .collumn >  h2{
            text-transform: capitalize;
            font-size:30px;
            color:#000;
            padding-bottom:30px;

        }
        .collumn > p {
            font-size:16px;
            color:#000;
            padding-bottom:70px;
        }
        .container.services{
            background-color:#efefef;
        }
    .container.services > .service-row{
        width:700px;
        margin-left: calc(50% - 350px);
        display:inline-block;
        padding-top:40px;
        padding-bottom:60px;
        
    }
        .service-row > .service-coll{
            width:33.3%;
            display:inline-block;
            /* background-color:red; */
            float:left;
            text-align:center;
        }
        .service-coll > img{
            display:inline-block;
            padding-bottom:20px;
        }
        .service-coll > .header-text{
            padding-bottom:30px;
            text-transform: capitalize;
            font-weight:bold;
            font-size:16px;
            color:#000;
        }
        .service-coll > .big-text{
            color:#000;
            font-size:16px;
        }

        /* FEATURED ARTICLES */
    .container.articles > .articles-coll{
        width:700px;
        margin-left:calc(50% - 350px);
        display:inline-block;
        text-align: center;
        margin-bottom:70px;
    }    
    .container.articles > .articles-coll > h1{
        font-size: 30px;
        color:#000;
        padding-top:50px;
        text-transform: capitalize;
    }
    .container.articles > .articles-coll > p{
        font-size: 16px;
        color:#000;
        padding-top:30px;
        margin:0 40px 0 40px;

    }
    .articles-row{
        padding-top:70px;
        display:inline-block;

    }

        .articles-row > .separate{
            width:33.3%;
            display:inline-block;
            float:left;
            background-color:#000;
            margin:10px;
            width: calc((100% - 60px) /3);
            padding:20px;
        }
        .articles-row > .separate > h1{
            font-size:14px;
            color:#fff;
            text-transform: uppercase;
            font-weight:lighter;
            padding-top:20px;
            padding-bottom:20px;

        }
        .articles-row > .separate > p{
            font-size:18px;
            color:#fff;
            height: 60px;
        
       }
        .picandtext{
            width:100%;
            display:inline-block;

        }   
            .picandtext > img{
                padding-top:30px;
                padding-bottom:10px;
                width:30%;
                float:left;
                display: inline-block;
            }        
            .picandtext > p{
                width:70%;
                display:inline-block;
                float:right;
                color:#fff;
                padding-top:40px;
                text-transform: uppercase;
                font-size:12px;
            } 
    .container.clients{
        background-color: #efefef;   
    }
        .container.clients > .clients-row{
            width:600px;
            margin:0 calc(50% - 300px);
        }
            .clients-row > h1{
                text-align:center;
                font-size:30px;
                padding-top:40px;
                padding-bottom:40px;
            }
            .clients-row >a > img{
                display:inline-block;
                height:100px;
                margin-bottom:70px;
                width: calc(100% / 6);
                float:left;
                object-fit: contain;
                padding:0 20px;
                cursor: pointer;
            }
            .clients-row >a > img:hover{
                box-shadow: 3px 1px 2px #635e5e;
            }

        